<div>
  <img style='display:block; position: fixed; width:350px;height:150px; align-self: center;' src="/assets/BachmannLogo.png" />

  <div style=" width:200%; position: absolute; margin-top: 115px; height:40px; background-color: #F2D600;"></div>
</div>
<div class="imageBox">
  <img style='display:block; width:300px; height:300px; margin-top: 300px; align-self: center;' id='base64image' src="{{dataSource}}" />
  
</div>
<span style="position: unset;  display: flex;justify-content: center; font-size: xx-large; font-weight: 400;" >Scanne mich!</span>
